.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
  .left {
    flex: 1;
    text-align: center;
    margin: 30px;
  }
  
  img {
   width: 100px;
   height: 100px;
   border-radius: 100px;
  }
  
  .right {
    flex: 1;
    text-align: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin: 40px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  .sitename{
    font-family: 'Dancing Script', cursive;
    color: rgb(109, 109, 109);
    font-size: 150px;
    text-align: center;
    margin: 100px;
  }

  .para{
    text-align: center;
    font-size: 20px;
    padding: 40px;
  }

  .menu li:hover {
    color: rgb(123, 123, 255);
    cursor: pointer;
   
  }
 
  .herobanner{
    font-size: 40px;
    text-align: center;
  }

  

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }

  .coloumnheading {
    background-color: #4caf8e;
    color: white;
    text-align: center;
  }

  tr > th {
    padding: 15px;
  }

  .backbutton{
    margin: 15px;
    padding: 10px 25px;
    background-color: none;
    font-size: large;
  }


.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  position: relative;
}

.menu li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff6600; 
  transition: width 0.3s; 
}

.menu li a:hover:after {
  width: 100%; 
}

.menu li a:hover {
  color: #ff6600;  
 
} 

.fade-in {
  animation: fadeIn 2.5s ease-in-out; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.GoldenYearsSupportHub {
  font-size: 2.2em; 
  font-weight: bold;
  font-style: italic;
  color: #ff6600; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.belowcontainer{
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Mulish, sans-serif;
}
/* #paragraphcontent{
text-align: center;
} */

.homedes{
  font-weight: lighter;
}
.alldetails{
  font-weight: 350;
 
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.arrow{
  position:relative;
  width:30px;
  height: 30px;
  cursor:pointer;
  transition:0.5s;
  overflow:hidden;
}

.arrow:hover{
      border:solid 2px black; 
    border-radius:50%;
}
.arrow:after{
  position:absolute;
  display:block;
  content:"";
  color:black;
  width: 20px;
  height: 15px;
  top:-1px;
  border-bottom:solid 2px;
  transform:translatex(4px);
}

.arrow:before{
  position:absolute;
  display:block;
  content:"";
  color:black;
  width: 8px;
  height: 8px;
  border-top:solid 2px;
  border-left:solid 2px;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);

}
.arrow:hover:before{
 animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after{
 animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
  0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}


@keyframes aniArrow02 {
  0% {
    transform:translateX(45px);
  }
  100% {
    transform:translateX(-44px);
  }
}

@keyframes borderAni{
   0% {
    border:solid 2px white;
  }
  100% {    
    border:solid 2px white; 
    border-radius:50%;
  }
}


@media screen and (max-width: 850px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .right {
      text-align: center;
  }

  .menu {
      flex-direction: column;
  }

  .menu li {
      margin: 5px 0;
  }
}

/* .homebackground{
  background-color: #b7e9d8;
} */